.hero {
  position: relative;
  width: 100%;
  height: 400px;
  /* background-image: url("your-background-image.jpg"); */
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #fff;
}

p {
  font-size: 1.2rem;
  color: #fff;
}

button {
  padding: 10px 20px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  color: #000;
  cursor: pointer;
}



.brands-container {
  margin-top: 12px;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* Hides scrollbar on IE and Edge */
  scrollbar-width: none;
  /* Hides scrollbar on Firefox */
}

.brands-container::-webkit-scrollbar {
  display: none;
  /* Hides scrollbar on Chrome, Safari, and Opera */
}

.brands-wrapper {
  display: flex;
  gap: 24px;

}

.brand-item {
  height: 150px;
  flex-shrink: 0;
  padding: 8px;
  border-radius: 24px;
  border: 2px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}

.brand-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
}

.brand-image {
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 768px) {
  .hero {
    height: 300px;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    font-size: 0.9rem;
  }

  .brand-item {
    height: 100px;
    border-radius: 18px;
  }

  .brand-image-container {
    height: 80px;
    width: 80px;
  }
}